@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 150%;
  padding-top: 60px;
}

img {
    padding-top: 10px;
    padding-bottom: 30px;
}

p {
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}
